/* BACKGROUND */
.bg-ff4{
  background-color:#FFF4F4
}
.bg-ff{
  background-color:#ffffff
}
.bg-00{
  background-color:#000000
}
.bg-fa{
  background-color:#FA0808
}
.bg-e4{
  background-color:#E4E4E4
}
.bg-d3{
  background-color:#D3D3D3
}
.bg-ffd{
  background-color:#FFDEDE
}


/* TEXT COLOR */
.txt-00{
  color:#000000
}
.txt-ff{
  color:#ffffff
}
.txt-f8{
  color:#F8EDD9
}
.txt-f5{
  color:#F5FFFF
}
.txt-14{
  color:#141416
}
.txt-73{
  color:#737373
}
.txt-{
  color:
}